@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    box-sizing: border-box;
}
header{
    width: 100%;
    margin-bottom: 30px;
}
nav{
    width: 100%;
    background-color: #0a6285 ;
    height: 70px;
    position: fixed;
    top: 0px;
    z-index: 1;

}
nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    height: 70px;

}

nav li{
    width: 20%;
    display: flex;
    text-align: center;
    text-decoration: none;
    vertical-align:middle;
    justify-content: center;
    height: 70px;
    font-family: 'Roboto Slab', serif;
    border: groove #12759c 3px;
    border-radius: 5px;
    cursor: pointer;    
}

nav li:hover{
    background-color: #03506f;

}
nav li img{
    align-self: center;
    height: 50px;
    width: 50px;

}
nav a{
    color: #ffe3d8;
    text-decoration: none;
    align-self: center;
}
header section{
    width: 100%;
    background-size: 100%;
    background-image: url("../img/home-banner.jpg");
    /* background-size:cover ; */
    background-repeat: no-repeat;
    padding: 120px;
    position: relative;
    z-index: 0;
    margin-top: 70px;   
}

header section h2{
    background-color:#0a6285 ;
    float:left;
    padding: 20px 50px;
    font-size:30px;
    color:white;  
    position:absolute;

    left:0;
    bottom:50px;
    opacity: 0.85;
    font-family: 'Roboto Slab', serif;
}

footer{
    width: 100%;
    height: 70px;
    background-color: #0a6285;
    border: groove #12759c 3px;
    margin-top: 30px;



}

footer section{

    width: 50%;
    float: right;
    text-align: center;
    height: 100%;
    vertical-align:middle;
    justify-content: center;
}

footer section img{
    height: 30px;
    width: 30px;
    float:right;
    position:relative;
    top:15px;
    right:15px;
    margin-right:20px;
    cursor: pointer;

}
footer section img:hover{
    transform: scale(2);
}

footer div{
    width: 50%;
    float:left;
    text-align: center;
    height: 100%;
    vertical-align:middle;
    justify-content: center;
}

footer div h2{

    font-family: 'Roboto Slab', serif;
    color: #ffe3d8;
    float:left;
    position:relative;
    top:20px;
    left:15px;
    margin-left:20px;
}

body{
    background-color: #f3f4ed;
    width: 100%;
}

main{
    width: 90%;
    margin: auto;
}

main h1{
    color: #ffe3d8;
    font-weight: bold;
    background-color:#0a6285;
    font-size:30px ;
    display: inline-block;
    padding:25px;
    text-align:center;
    margin-left:35%;
    margin-bottom:35px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

main section div{
    display:inline-block;
    width:45%;
    margin:auto;
    text-align:center;
    position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

main section div:hover{
    transform: rotateY(180deg);
}

main section div img,main section div ul{
-webkit-backface-visibility: hidden; 
backface-visibility: hidden;
}

main section div img{
    width: 300px;
    height:300px;
    border-radius:50%;  
}

main section div ul{
transform: rotateY(180deg);
width: 300px;
height:300px;
 border-radius:50%;
 vertical-align:middle;
 background-color:#0a6285;

}





